@charset "UTF-8";

body{
    background-image: url(imagens/pacote-d013/imagens/fundo-madeira.jpg);
    height: 98vh;
    background-size: 100% 100%; 
    background-attachment: fixed;
    position: relative;
}
.iphone{
    min-height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}
.iphone > picture > img{
    
}
#home{
    border-radius: 50%;
}
#facebook{
    border-radius: 50%;
}
#github{
    border-radius: 50%;
}
#instagram{
    border-radius: 50%;
}
#twitter{
    border-radius: 50%;
}